.home_container {
  width: 99vw;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.left .title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #7C3AED, #3B82F6);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  color: transparent;
  line-height: 1.2;
}

.left .subtitle {
  font-size: 1.25rem;
  color: var(--text-secondary);
  margin-bottom: 3rem;
  line-height: 1.6;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: start;
}

.button-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid #374151;
}


.buttons button:nth-child(1) {
  background: #6F00FF;
}

.buttons button:nth-child(1):hover {
  background: #4f02b4;
}

.buttons button:nth-child(2):hover {
  color: #b9b8b8;
}

.right img {
  border-radius: 1rem;
  animation: float 3s ease infinite;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1rem);
  }
  100%{
    transform: translateY(0);
  }
}

/* =============================
Features section
 =============================== */


.features_section {
  max-width: 80rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 16rem;
  margin: auto;
  margin-bottom: 5rem;
  padding: 2rem;

  .feature {
    border-radius: 1rem;
    box-shadow:0px 4px 20px 3px rgba(250, 250, 250, 0.1);
    padding: 0.8rem;
    flex: 1;

    .icon {
      width: 3rem;
      height: 3rem;
      border-radius: 1rem;
      display: grid;
      place-items: center;
      margin-bottom: 1rem;
    }

    .heading {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--text);
      margin-bottom: 1rem;
    }

    .subhead {
      font-size: 1rem;
      color: var(--text-secondary);
      margin-bottom: 1rem;
    }
  }

}


/* =============================
create Room page
 =============================== */

.create_room_container {
  height: calc(100vh - 6rem);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}