.home_container {
  width: 99vw;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.left .title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #7C3AED, #3B82F6);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  color: transparent;
  line-height: 1.2;
}

.left .subtitle {
  font-size: 1.25rem;
  color: var(--text-secondary);
  margin-bottom: 3rem;
  line-height: 1.6;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: start;
}

.button-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid #374151;
}


.buttons button:nth-child(1) {
  background: #6F00FF;
}

.buttons button:nth-child(1):hover {
  background: #4f02b4;
}

.buttons button:nth-child(2):hover {
  color: #b9b8b8;
}

.right img {
  border-radius: 1rem;
  animation: float 3s ease infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}


/* =============================
create Room page
 =============================== */

.create_room_container {
  height: calc(100vh - 6rem);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .create_room_container {
      padding: 0 1rem;
  }
}
